
<form action="/recipe/new" method="post">
  <div class="form-group">
    <label for="recipe_name">Enter Your Recipe Name:</label>
    <input type="text" name="recipe_name" id="recipe_name">
  </div>
  <button type="submit" name="button">Submit</button>
</form>
